/* ---------------------------------------------------------- */
/*                      FINAL TOUCHES                         */
/* ---------------------------------------------------------- */

.favicon-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.favicon-wrapper .upload {
  width: 30%;
}
.favicon-wrapper .upload .file-upload {
  height: 7rem;
}
.favicon-wrapper .content-paragraph {
  width: 62%;
}

/* ---------------------------------------------------------- */
/*                     DOWNLOAD WEBSITE                       */
/* ---------------------------------------------------------- */

.download-website {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem 1.5rem 2rem;
  margin: 3rem 0 2rem;
  background-color: rgb(70, 145, 231);
  border-radius: 100px;
  box-shadow: 0 10px 30px 0 rgba(70, 145, 231, 0.5);
  text-decoration: none;
  transition: all 0.3s;
}

.download-website:hover {
  box-shadow: 0 10px 40px 0 rgba(70, 145, 231, 0.5);
  transform: translateY(-0.5rem);
  cursor: pointer;
}

.download-website div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(47, 126, 216);
  padding: 0.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}
