/* ---------------------------------------------------------- */
/*                       EDIT FRAME                           */
/* ---------------------------------------------------------- */

.editor-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.opened-editor-wrapper {
  opacity: 1;
  z-index: 50;
  transition: all 0.2s;
}

.closed-editor-wrapper {
  opacity: 0;
  z-index: -10;
  transition: all 0.2s;
}

/* Closes open editor, is necessary! */
.close-editor-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  min-width: 100vw;
  z-index: 75;
}

.editor {
  height: 520px;
  width: 340px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}

.opened-editor {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
  transition: all 0.2s;
}

.closed-editor {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.75);
  z-index: -10;
  transition: all 0.2s;
}

.editor-no-transition {
  transition: none !important;
}

/* ---------------------------------------------------------- */
/*                        CONTENT                             */
/* ---------------------------------------------------------- */

.content {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

/* --- CONTENT HEADER --- */

.content-header {
  height: 60px;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #e9e9e9;
  z-index: 110;
}
.content-header-item {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-header-item.active {
  border-bottom: 2px solid #191a1d;
}
.content-header-item span {
  font-size: 1.4rem;
  font-weight: 500;
  color: #7c7c7c;
}
.content-header-item:hover {
  cursor: pointer;
}

/* --- CONTENT ITEM --- */

.content-item {
  height: 100%;
  width: 100%;
  padding: 2.5rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  overflow-y: auto;
}

/* --- CONTENT FOOTER --- */

.content-footer {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e9e9e9;
}
.content-footer:hover {
  cursor: pointer;
}
.content-footer span {
  color: #7c7c7c;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.content-footer:hover span {
  color: #191a1d;
}
.download-footer span:nth-of-type(1),
.download-footer span:nth-of-type(2) {
  border-right: 1px solid #e9e9e9;
}

/* ---------------------------------------------------------- */
/*                       REUSABLES                            */
/* ---------------------------------------------------------- */

/* ------ INPUTS ------ */

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  position: relative;
}

.input-wrapper h5 {
  color: #191a1d;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0.2rem;
}

.input {
  padding: 0 1rem;
  border: none;
  resize: none;
  overflow: hidden;
  background-color: rgb(245, 245, 245);
  box-sizing: border-box;
  transition: all 0.3s;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.input:focus {
  outline: none !important;
}

::placeholder {
  opacity: 1;
  color: rgb(189, 189, 189);
}

.input-light,
.textarea {
  color: #191a1d;
  font-size: 1.3rem;
  line-height: 1.5;
  width: 100%;
}
.input-light {
  height: 50px;
}
.input-light:focus {
  line-height: 2;
  padding: 1rem;
}

.textarea {
  padding: 1.5rem 1rem;
  font-family: Arial;
}

/* ------ GENERAL ------ */

.content-paragraph {
  color: #7c7c7c;
  font-size: 1.2rem;
  line-height: 22px;
  margin: 1rem 0;
}
.content-paragraph b {
  color: #191a1d;
  font-weight: 500;
}

.content-link {
  font-size: 1.2rem;
  color: #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
  transition: all 0.3s;
}
.content-link:hover {
  color: #191a1d;
  border-bottom: 1px solid #191a1d;
}

.more-infos-title {
  color: #7c7c7c;
  font-size: 1.3rem;
  font-weight: 500;
  align-self: flex-start;
  margin-top: 1rem;
}
.more-infos-image {
  margin: 1rem 0;
  width: 100%;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.divider.m2 {
  margin: 2rem auto 1rem;
}
.divider.m3 {
  margin: 3rem auto 1rem;
}

.space {
  width: 100%;
}
.space.m1 {
  min-height: 1rem;
}
