/* ---------------------------------------------------------- */
/*                      IMAGE UPLOAD                          */
/* ---------------------------------------------------------- */

.upload {
  width: 100%;
  margin: 1rem 0;
}

.file-upload {
  height: 17rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-wrapper {
  background-color: rgb(245, 245, 245);
  border: 2px dashed rgb(200, 200, 200);
  border-radius: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: all 0.3s;
}

.image-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.image-upload + label {
  font-size: 7rem;
  text-align: center;
  color: rgb(200, 200, 200);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.3s;
}

.upload-wrapper:hover,
.image-upload + label:hover {
  opacity: 1;
}

.error-text {
  color: #eb5f5f;
  font-size: 1.2rem;
  text-align: center;
}

/* --------- IMAGE PREVIEW ------------- */

.upload-preview {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;
  border-radius: 5px;
  background-color: rgb(233, 236, 240);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}

.upload-target {
  color: rgb(233, 236, 240);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.65);
  display: flex;
  position: absolute;
  top: 4%;
  left: 4%;
}

.delete-preview-image {
  width: 2.4rem;
  height: 2.4rem;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  right: 3%;
  transition: all 0.2s;
}
.delete-preview-image:hover {
  background-color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
}

.upload-preview--filename {
  color: rgb(233, 236, 240);
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}
.upload-preview--filesize {
  color: rgb(233, 236, 240);
  font-size: 1.2rem;
}
