.counter-wrapper {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  border-radius: 5px;
  border: 1px solid rgb(233, 236, 240);
}

.counter-minus,
.counter-plus,
.counter-value {
  font-size: 1.4rem;
  padding: 1.5rem 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-value {
  border-left: 1px solid rgb(233, 236, 240);
  border-right: 1px solid rgb(233, 236, 240);
}

.counter-minus,
.counter-plus {
  border-radius: 5px;
  transition: all 0.3s;
}
.counter-minus:hover,
.counter-plus:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}
